body {
  font-family: 'Montserrat', sans-serif;
  background-color: #232323;
  margin: 0;
}
header {
  background-color: steelblue;
  text-align: center;
}
p {
  margin: 0;
}
.square {
  width: 24%;
  background: purple;
  padding-bottom: 24%;
  float: left;
  margin: 0.6%;
  border-radius: 15%;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  box-shadow: rgb(0, 0, 0) 0px 2px 4px 0px;
}
#container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto 0 auto;
}
h1 {
  color: white;
  line-height: 1.1;
  text-align: center;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  padding: 40px 0 20px 0;
}
#colorDisplay {
  font-size: 200%;
}

.score {
  text-align: left;
  width: 200px;
  color: #355874;
  font-weight: 600;
}

#message {
  text-align: center;
  display: inline-block;
  width: 200px;
  margin: 0 5px;
  color: #355874;
  font-weight: 600;
}

.life {
  text-align: right;
  width: 200px;
}

#stripe {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 30px;
  text-align: center;
}
.selected {
  background-color: white;
  color: #355874;
}

button:hover {
  background-color: white;
  color: #355874;
}

button {
  padding: 5px 0;
  margin-bottom: 5px;
  outline: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  color: white;
  font-size: inherit;
  border-radius: 5px;
  border: 2px solid white;
  background-color: #355874;
  height: 100%;
  font-weight: 600;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
}

.modal {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  justify-content: center;
  display: none;
  align-items: center;
  background: rgba( 0, 0, 0, 0.7);
  overflow: hidden;
}

.form {
  padding: 5% 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  width: 29%;
  border-radius: 24px;
  box-shadow: rgb(0, 0, 0) 2px 3px 6px 1px;
  animation: 0.5s ease-out modalAnimation;
}

.instruction-container {
  padding: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  background: white;
  width: 800px;
  max-height: 800px;
  box-sizing: border-box;
  border-radius: 24px;
  box-shadow: rgb(0, 0, 0) 2px 3px 6px 1px;
  animation: 0.5s ease-out modalAnimation;
}

.instruction {
  overflow-y: scroll;
  padding: 0 100px;
}

.h2p {
  text-align: left;
  text-transform: uppercase;
  color: #355874;
  font-size: 35px;
  margin: 0 0 25px 0;
}

.small-h2p {
  color: #355874;
  margin: 20px 0 5px 0;
  font-size: 22px;
}

#h2pBlack, #h2pRed, #h2pGreen, #h2pBlue {
  display: block;
  margin-top: 5px;
}
#h2pBlack {
  color: #000;
}
#h2pRed {
  color: #F00;
}
#h2pGreen {
  color: #0F0;
}
#h2pBlue {
  color: #00F;
}

.h2p-p {
  font-weight: 600;
  color: #232323;
}

.nickname {
  position: relative;
}
label {
  position: absolute;
  top: -0.5em;
  left: 9px;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #232323;
  padding: 0px 3px;
  background: white;
}
.save {
  margin-bottom: 25px;
}
input {
  display: block;
  width: 196px;
  font-size: 14px;
  background-color: white;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 10px 15px;
  color: #232323;
  font-weight: 600;
  border: 2px solid #232323;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
  outline: none;
}
#displayMode {
  text-transform: uppercase;
  margin: 0;
  font-size: 30px;
  color: #232323;
  margin-bottom: 25px;
}
#finalScore {
  color: #232323;
  margin: 0;
  font-size: 72px;
}


tbody, tr, td {
  border-spacing: 0;
}
tr {
  border-bottom: 1px solid #3b3b3b;
  padding: 10px 0;
  display: block;
}
td {
  color: white;
  text-align: center;
  width: 200px;
}
table#leaderboard tr td:first-child {
  width: 50px;
}
#thid {
  width: 52px;
}
.th {
  text-align: center;
  width: 202px;
  color: #355874;
  font-weight: 600;
}

#help {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  position: fixed;
  left: 95%;
  justify-content: center;
  top: 93%;
  align-items: center;
}

#close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  padding: 0;
  margin: 10px 10px 10px 0;
  border-radius: 50%;
  align-self: flex-end;
  border-color: #232323;
}

#helpImg, #closeImg {
  width: 32px;
}

#closeAnimation {
  animation: 0.5s ease-in reverse modalAnimation;
}

@keyframes modalAnimation {
  from {
    position: relative;
    top: 100%;
  }
  to {
    position: relative;
    top: 0%;
  }
}
